.authorName{
    display: block;
    width: 100%;
}

.cardInfo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-wrapper{
    img{
        height: 300px;
        object-fit: cover;
    }
}

.card{
    height: 100%;
}

.loadMore_btn{
    display: inline-block;
    max-width: 200px;
    margin: 0 auto;
}